<div class="login-container bg-light">
  <div class="login-box">
    <img class="logo" src="assets/vertice-logo.png" alt="Vertice Accounts" />
    <div *ngIf="false">
      <h6 class="d-inline-block">v{{ version }}</h6>
      <div class="d-inline-block ml-3" ngbDropdown>
        <button id="language-dropdown" class="btn btn-sm btn-secondary" ngbDropdownToggle>
          {{ currentLanguage }}
        </button>
        <div ngbDropdownMenu aria-labelledby="language-dropdown">
          <button class="dropdown-item" *ngFor="let language of languages" (click)="setLanguage(language)">
            {{ language }}
          </button>
        </div>
      </div>
    </div>
    <div class="container pb-5">
      <div class="card col-md-6 mt-3 mx-auto mb-5">
        <div class="card-body">
          <h3 class="text-center mt-3 mb-5">Actualizar Clave</h3>

          <form #form="ngForm" (ngSubmit)="resetPassword(form)">
            <div class="form-group">
              <label>Nueva clave *</label>
              <input
                type="password"
                [(ngModel)]="user.password"
                name="password"
                #password="ngModel"
                class="form-control rounded-0"
                placeholder="Nueva clave"
                minlength="8"
                required
                autofocus
              />

              <div [hidden]="password.valid || password.pristine" class="alert alert-danger rounded-0">
                <div *ngIf="password.errors?.required">
                  Campo requerido.
                </div>
                <div *ngIf="password.errors?.minlength">
                  Por lo menos 8 caracteres.
                </div>
              </div>
            </div>

            <div class="form-group">
              <label>Confirmar clave *</label>
              <input
                type="password"
                [(ngModel)]="confirmPassword"
                name="confirmPasswordInput"
                #confirmPasswordInput="ngModel"
                class="form-control rounded-0"
                placeholder="Confirmar clave"
                required
              />

              <div
                [hidden]="
                  (confirmPasswordInput.valid || confirmPasswordInput.pristine) && confirmPassword == user.password
                "
                class="alert alert-danger rounded-0"
              >
                <div *ngIf="confirmPasswordInput.errors?.required">
                  Campo requerido.
                </div>
                <div *ngIf="confirmPassword != user.password">
                  debe ser identico al campo Nueva clave.
                </div>
              </div>
            </div>

            <button
              [disabled]="form.invalid || confirmPassword != user.password"
              type="submit"
              class="btn btn-primary my-3 mb-5 float-right"
            >
              Guardar
            </button>

            <div *ngIf="errorMessage != ''" class="text-danger text-center">
              {{ errorMessage }}
            </div>
          </form>

          <br />
          Volver a la pantalla de <a routerLink="/login">Login</a>
        </div>
      </div>
    </div>
  </div>
</div>
