q {
  font-style: italic;
  font-size: 1.2rem;
  quotes: "« " " »";
}

.title-color {
  color: #0177c6;
}

.table-style {
  width: 96%;
  justify-content: center;
  margin-left: 2%;
  margin-top: 2%;
}
