<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Actualizar clave</li>
    </ol>
  </nav>
  <form #form="ngForm" (ngSubmit)="updatePassword(form)">
    <div class="form-row">
      <div class="col-md-12">
        <div class="card margin">
          <div class="card-body">
            <div class="form-group">
              <label>Clave actual *</label>
              <input
                type="password"
                [(ngModel)]="currentPassword"
                name="currentPasswordInput"
                #currentPasswordInput="ngModel"
                class="form-control rounded-0"
                placeholder="Clave actual"
                minlength="8"
                required
                autofocus
              />

              <div
                [hidden]="currentPasswordInput.valid || currentPasswordInput.pristine"
                class="alert alert-danger rounded-0"
              >
                <div *ngIf="currentPasswordInput.errors?.required">
                  Campo requerido.
                </div>
                <div *ngIf="currentPasswordInput.errors?.minlength">
                  Por lo menos 8 caracteres.
                </div>
              </div>
            </div>

            <div class="form-group">
              <label>Nueva clave *</label>
              <input
                type="password"
                [(ngModel)]="user.password"
                name="password"
                #password="ngModel"
                class="form-control rounded-0"
                placeholder="Nueva clave"
                minlength="8"
                required
                autofocus
              />

              <div [hidden]="password.valid || password.pristine" class="alert alert-danger rounded-0">
                <div *ngIf="password.errors?.required">
                  Campo requerido.
                </div>
                <div *ngIf="password.errors?.minlength">
                  Por lo menos 8 caracteres.
                </div>
              </div>
            </div>

            <button [disabled]="form.invalid" type="submit" class="btn btn-primary my-3 mb-5 float-right">
              Actualizar
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
