.btn-create {
  color: #fff;
  background-color: #0177c6;
  border-color: #0177c6;
}

.btn-create:hover {
  color: #fff;
  background-color: rgb(55, 135, 189);
  border-color: rgb(55, 135, 189);
}

.margin-card {
  margin-bottom: 10%;
}

.aling {
  text-align: right;
}
